<div class="title">
  <div class="holder">
    <p class="page-name">Cliente</p>
  </div>
</div>

<section>
  <div class="grid">

    <img src="{{this.client?.picture?.large}}" class="photo-container">

    <div class="profile">
      <p class="name">{{this.client?.name | titlecase}}</p>
      <p>Gênero: {{this.client?.gender! | gender}}</p>
      <p>Data de Nascimento: {{this.client?.birthday | date:"dd/MM/yyyy"}}</p>
      <p>Tipo: {{ this.client!.type! | clientType }}</p>
    </div>

    <div class="address">
      <p>{{this.client?.address?.street | titlecase}}</p>
      <p>{{this.client?.address?.city | titlecase}} - {{this.client?.address?.state | titlecase}}</p>
      <p>{{this.client?.address?.postCode}} {{this.client?.address?.region | titlecase}}</p>

    </div>

    <div class="contact">
      <p>{{this.client?.email}}</p>
      <p>{{this.client?.telephoneNumbers?.at(0)}}</p>
      <p>{{this.client?.telephoneNumbers?.at(1)}}</p>
    </div>
  </div>

</section>
