
<div>
  <p>Clientes</p>
</div>

<div class="container">
  <div class="filters">
    <p>Filtrar</p>
    <br>
    <p>Tipo</p>
    <p (click)="this.filterByType('ALL')">Todos</p>
    <p (click)="this.filterByType('SPECIAL')">Especial</p>
    <p (click)="this.filterByType('NORMAL')">Normal</p>
    <p (click)="this.filterByType('LABORIOUS')">Trabalhoso</p>
    <br>
    <p>Região</p>
    <p (click)="this.filterByRegion('sul')">Sul</p>
    <p (click)="this.filterByRegion('sudeste')">Sudeste</p>
    <p (click)="this.filterByRegion('centro oeste')">Centro-Oeste</p>
    <p (click)="this.filterByRegion('norte')">Norte</p>
    <p (click)="this.filterByRegion('nordeste')">Nordeste</p>
  </div>

  <div class="list">

    <a routerLink="/pages/{{client.id}}" routerLinkActive="selected"
      class="item" *ngFor="let client of this.clientPage?.clientDtoList">

      <div class="item-container"><img class="perfil" src="{{ client.picture.medium }}"></div>
      <div class="item-container"><p class="name">{{ client.name }}</p></div>
      <div class="item-container"><p>{{ client.address.city }}</p></div>
      <div class="item-container"><p>{{ client.address.state }}</p></div>

    </a>

    <div class="pagination">
      <div class="row">
        <button *ngIf="this.clientPage?.actualPage != 0" (click)="previous()">
          Anterior
        </button>
        <p> {{ this.clientPage?.actualPage! + 1 }} de {{ this.clientPage?.totalPages! + 1}} </p>
        <button *ngIf="(this.clientPage?.actualPage!) != this.clientPage?.totalPages"
                (click)="next()">
          Seguinte
        </button>
      </div>
    </div>


  </div>

</div>

